[submodule "lib/EXDSchema"]
	path = lib/EXDSchema
	url = git@github.com:xivdev/EXDSchema.git
	branch = latest
[submodule "lib/SaintCoinach"]
	path = lib/SaintCoinach
	url = git@github.com:thewakingsands/SaintCoinach.git
